* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: blue;
  margin: 0;
}
.login,
.register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1,
.register h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login .links,
.register .links {
  display: flex;
  padding: 0 15px;
}
.login .links a,
.register .links a {
  color: #adb2ba;
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}
.login .links a:hover,
.register .links a:hover {
  color: #9da3ac;
}
.login .links a.active,
.register .links a.active {
  border-bottom: 3px solid blue;
  color: blue;
}
.login form,
.register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label,
.register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: darkblue;
  color: #ffffff;
}
.login form input[type="password"],
.login form input[type="text"],
.login form input[type="email"],
.register form input[type="password"],
.register form input[type="text"],
.register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"],
.register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: darkblue;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover,
.register form input[type="submit"]:hover {
  background-color: blue;
  transition: background-color 0.2s;
}
.navtop {
  background-color: blue;
  height: 60px;
  width: 100%;
  border: 0;
}
.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
.navtop div h1,
.navtop div a {
  display: inline-flex;
  align-items: center;
}
.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.navtop div a i {
  padding: 2px 8px 0 0;
}
.navtop div a:hover {
  color: #eaebed;
}
body.loggedin {
  background-color: #f3f4f7;
}
.content {
  margin: 0 auto;
  width: 90vw;
}
.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}
.content > p,
.content > div {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}
.content > p table td,
.content > div table td {
  padding: 5px;
}
.content > p table td:first-child,
.content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}
.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}

/* navbar */
.main-logo {
  color: #fff !important;
  font-weight: bold;
  font-size: 1.8rem;
}
.s-logo {
  color: #fff !important;
  font-weight: normal;
  font-size: 1rem;
}
.navbar {
  background: blue;
}
.navbar-icon {
  font-size: 2rem;
  color: #fff;
}
.navbar-toggler {
  outline-color: #fff !important;
}
.nav-link {
  color: #fff;
  text-transform: capitalize;
}
.nav-link:hover {
  color: #eaebed;
}
.nav-buttons {
  display: flex;
  flex-direction: column;
}
.nav-buttons a button {
  padding: 0 !important;
  color: #fff;
  margin-top: 0.7rem;
}
.nav-buttons a button:hover {
  color: darkblue;
}
.navbar-nav li a,
.signUp button,
.logIn button,
.l-out a {
  font-weight: bold;
}
/* header */
.header {
  color: #fff;
}
.height-max {
  min-height: calc(100vh - 74px);
  background: url("../assets/home1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.title-heading {
  background: rgba(0, 0, 0, 0.4);
  border-left: 0.3rem solid #fff;
}
.title {
  font-weight: 700;
  font-size: 1.9rem;
}
/* Corporate */
.container-corporate-outer {
  min-height: 126vh;
  background: url("../assets/g2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 6rem;
  background-color: #fff;
}
p {
  background-color: rgba(95, 36, 36, 0.05);
}
.container-h h1,
.section h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}
.section h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}
.container-corporate {
  color: #fff;
  padding: 0 5rem;
}
.section {
  margin: 4rem auto !important;
  text-align: center;
}
.section:last-child {
  margin-bottom: 0 !important;
}
.lc {
  padding-bottom: 16px;
  margin-bottom: 0 !important;
}
.container-h {
  text-align: center;
}

/* Services */
section {
  padding: 6rem 0;
}

.container-services {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}
.section-heading h1 {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}
.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}
.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #aaa;
}
.service-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.service-item:last-child {
  margin-bottom: 0;
}
img {
  width: 100%;
  height: 100%;
}
.service-img {
  flex: 1;
  margin-right: 5rem;
  width: 50rem;
  height: 22rem;
}
.service-img2 {
  flex: 1;
  margin-left: 5rem;
  width: 50rem;
  height: 22rem;
}
.service-description {
  flex: 1;
  color: #fff;
}
.section-heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 1rem 0;
}
.service-description h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.3;
  color: #fff !important;
}
/* Contact */
.form-contact label {
  font-size: 1.5rem;
  color: #fff;
}
.contact-btn {
  display: block;
  margin-left: auto;
  background-color: #fff;
  border: none;
  color: blue;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
}
.contact-btn:hover {
  background-color: #aaa;
  color: #fff;
}

/* leave dashboard */
.l-out a {
  padding-left: 0;
}
.leave-title,
.leave-num {
  font-size: 1.8rem;
  font-weight: bold;
}
.dash-btn {
  display: block;
  margin-left: auto;
  background-color: blue;
  border: none;
  color: #fff;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
}
.dash-btn:hover {
  background-color: darkblue;
}
.done {
  color: green;
}
/* footer */
.footer {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  background-color: #fff;
}
footer p,
footer a {
  font-size: 0.75rem;
}

/* media queries */
@media screen and (min-width: 768px) {
  .main-logo {
    font-size: 2rem;
  }
  .s-logo {
    font-size: 1.2rem;
  }
  .title {
    font-size: 3rem;
  }
  .container-uniform h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  footer p,
  footer a {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 992px) {
  .nav-buttons {
    display: flex;
    flex-direction: row;
  }
  .signUp {
    margin-right: 2.5rem !important;
  }
  .nav-buttons a button {
    box-sizing: border-box !important;
    margin-top: 0;
    background-color: darkblue;
    padding: 0.3rem !important;
  }
  .nav-buttons a.signUp button:hover {
    background-color: #fff;
    color: darkblue;
  }
  a.logIn button {
    background-color: #fff !important;
    color: darkblue;
  }
  a.logIn button:hover {
    background-color: #eaebed !important;
    color: darkblue;
  }
  .content {
    width: 60vw;
  }
  .leave-title,
  .leave-num {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .underline {
    background-color: #fff;
    height: 0.3rem;
    width: 8rem;
    margin: 1.5rem 27rem 0;
    opacity: 0.8;
  }
}
