{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<!-- header -->
<header class="header" id="header">
  <div class="container-fluid">
    <div class="row height-max align-items-center">
      <div class="col col-md-9 mx-auto text-center">
        <h5 class="title-heading d-inline-block p-2 text-uppercase">
          You Are Here
        </h5>
        <h2 class="text-uppercase my-2 title">SOFTCITY TECHNOLOGIES</h2>
        <h6 class="text-capitalize">we manage what matters to you</h6>
      </div>
    </div>
  </div>
</header>

{% endblock %}
