{% extends "account_base.html" %} {% block title %}Login {% endblock %} {% block
content %}
<div class="login">
  <h1>Login</h1>
  <div class="links">
    <a href="{{ url_for('login') }}" class="active">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
  </div>
  <form action="{{ url_for('login') }}" method="post">
    <label for="id_number">
      <i class="fas fa-user"></i>
    </label>
    <input
      type="text"
      name="id_number"
      placeholder="I.D Number"
      id="id_number"
      required
    />
    <label for="password">
      <i class="fas fa-lock"></i>
    </label>
    <input
      type="password"
      name="password"
      placeholder="Password"
      id="password"
      required
    />
    <div class="msg">{{ msg }}</div>
    <input type="submit" value="Login" />
  </form>
</div>

{% endblock %}
