{% extends "base.html" %} {% block title %}Services{% endblock %} {% block
content %}
<div class="container">
  <section class="services" id="services">
    <div class="container container-services">
      <div class="section-heading">
        <h1>Services</h1>
        <h6>What we can do for you</h6>
      </div>
      <div class="service-item">
        <div class="service-img">
          <img src="{{ url_for('static', filename='assets/w1.jpg') }}" alt="" />
        </div>
        <div class="service-description">
          <h6>Website Design and Hosting</h6>
          <h1>Web Development</h1>
          <p>
            With years of experience, we're one of the most affordable and
            reliable web design and hosting company in Zimbabwe offering our
            services to satisfied clients worldwide. We take pride in designing
            show-stopping websites, for every need and niche.
          </p>
        </div>
      </div>
      <div class="service-item">
        <div class="service-description">
          <h6>Graphic Design</h6>
          <h1>We Give Identity</h1>
          <p>
            Logo Design, Company profiles, portifolio, brochures, flyers,
            catalogues, business cards and info graphics, our graphic design
            team can do it all. We have the best team to brand your Business,
            Company or anything that needs identity.
          </p>
        </div>
        <div class="service-img2">
          <img src="{{ url_for('static', filename='assets/g2.jpg') }}" alt="" />
        </div>
      </div>
      <div class="service-item">
        <div class="service-img">
          <img
            src="{{ url_for('static', filename='assets/om1.jpg') }}"
            alt=""
          />
        </div>
        <div class="service-description">
          <h6>Online Marketing and SEO</h6>
          <h1>Be Visible</h1>
          <p>
            We have the expertise to showcase your business all over the
            internet (Online Marketing), with Search Engine Optimization
            directing potential clients to your Website Generating business
            online is one of our core services and it is easy and
            cost-effective.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="container container-services">
      <div class="section-heading">
        <h1>Contact</h1>
        <h6>Let's work together</h6>
      </div>
      <form action="#" method="post" class="form-contact">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            class="form-control"
            type="text"
            name="name"
            id="name"
            placeholder="Enter your name..."
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            class="form-control"
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email..."
            required
          />
        </div>
        <div class="form-group">
          <label for="service">Services:</label>
          <select class="form-control" name="services" id="service">
            <option value="Website Design and Hosting">
              Website Design and Hosting
            </option>
            <option value="Graphic Design">Graphic Design</option>
            <option value="Online Marketing and SEO">
              Online Marketing and SEO
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="subject">Subject:</label>
          <textarea
            class="form-control"
            name="subject"
            id="su1ject"
            cols="10"
            rows="10"
          ></textarea>
        </div>
        <input class="contact-btn" type="submit" value="Submit" />
      </form>
    </div>
  </section>
</div>
{% endblock %}
