{% extends "base.html" %} {% block title %}Corporate Uniform Manual{% endblock
%} {% block content %}
<div class="container container-uniform">
  <h1>Corporate Uniform Manual</h1>
  <p>
    The purpose of a uniform is to create a standard look. It is your personal
    responsibility to appear immaculate while wearing the company uniform.
  </p>
  <div class="uniform-section">
    <h3>Days for Wearing Uniform</h3>
    <p>Monday to Friday.</p>
    <p>Saturday – Casual attire.</p>
    <ul>
      <li>
        Ladies – No leggings, no miniskirts, no spaghetti tops, no lace and
        transparent tops.
      </li>
      <li>Gents – No rafters, no shorts.</li>
    </ul>
    <p>
      Name badges are compulsory and to be worn from Monday to Friday. Kindly
      wear them on the left side, above your shirt pocket when not wearing a
      jacket or on your lapel if wearing a jacket.
    </p>
  </div>
  <div class="uniform-section">
    <h3>Important Notice</h3>
    <ul>
      <li>
        Staff shall wear uniforms properly, presenting a professional image.
        Uniforms should be clean and ironed/steamed at all times (please do not
        wear wrinkled clothes to work!).
      </li>
      <li>
        All alterations to uniforms must be performed by the uniform supplier, 4
        MAY.
      </li>
      <li>Uniform should be worn with appropriate shoes.</li>
      <li>
        The uniform should fit comfortably and not be too tight or too loose.
      </li>
      <li>
        Staff is liable for issued uniform items that have been lost, stolen or
        damaged.
      </li>
      <li>
        When ironing, place a damp cloth, do not iron direct on fabric to avoid
        making the fabric shine.
      </li>
      <li>Staff must not wear uniforms whilst on leave or weekends.</li>
      <li>
        Please do not chew bubble gum whilst wearing uniform, its inappropriate.
      </li>
      <li>
        Staff shall not enter public entertainment areas whilst wearing FMC
        uniform.
      </li>
      <li>
        Please do not get photographed in FMC uniform for social media use.
      </li>
    </ul>
  </div>
  <div class="uniform-section">
    <h3>Ladies</h3>
    <ul>
      <li>
        You are not allowed to cut the length of either the dress or skirt
        (dress/skirt length should always be below the knees.
      </li>
      <li>
        Uniforms should be worn with Flat or Court shoes (moderate heels).
      </li>
      <li>
        Should you decide to wear Panty hose stockings, chocolate and charcoal
        shades are acceptable. Please do not wear black.
      </li>
      <li>
        Hair must be clean, conservative (please be mindful of the colour of
        weave and extension that you use) well groomed and styled in a
        professional way.
      </li>
      <li>
        Earrings - Pair of matching gold or silver tone earrings are acceptable.
        Dangle and drop style earrings may not exceed 2.5 cm.
      </li>
      <li>
        Make up may be worn and should be compatible with skin colour and
        appropriate for day time business wear.
      </li>
      <li>
        Nail colour – Dayglo (i.e. bright/neon pink, yellow and orange) are not
        appropriate colours for the office. If wearing a peep toe shoe, please
        ensure that your toe nails are presentable and if there is nail colour
        it should be of the appropriate colour.
      </li>
    </ul>
  </div>
  <div class="uniform-section">
    <h3>Jewellery</h3>
    <ul>
      <li>Necklaces should be worn under blouses.</li>
      <li>Bangles or bracelets must be slim and discreet – gold/silver.</li>
      <li>Watches must be discreet and professional.</li>
    </ul>
  </div>
  <div class="uniform-section">
    <h3>Shoes</h3>
    <ul>
      <li>
        Gents: Clean and polished black formal shoes only. No gloss shoes
        please.
      </li>
      <li>Ladies: Black or Navy shoes only. No hooker heels please.</li>
    </ul>
  </div>
  <div class="uniform-section">
    <h3>Gents</h3>
    <ul>
      <li>Suits are dry cleanable only. Hand washing is unacceptable.</li>
      <li>Wear plain navy blue or black socks only.</li>
      <li>Black formal belts. No fancy buckles.</li>
      <li>If you cannot keep your hair short, keep it shaved.</li>
      <li>No jewellery on men except for watches.</li>
    </ul>
  </div>
  <div class="uniform-section">
    <h3>Students on Attachments</h3>
    <p>
      FMC will not provide you with a uniform but please note that you will are
      required to wear black bottoms and white tops ONLY i.e.
    </p>
    <ul>
      <li>
        Ladies – black knee length skirt/pants and a white shirt/blouse (no lace
        / transparent fabric).
      </li>
      <li>Gents – Black trousers and white shirt (no necktie).</li>
      <li>Black shoes only for both.</li>
    </ul>
  </div>
</div>
{% endblock %}
